#root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('./assets/bg-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #root {
    background-image: url('./assets/bg-mobile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
